@import "https://cdn.jsdelivr.net/npm/obsidian-things@latest/theme.css";

/* Barra izquierda (filetree) ≈20% */
.filetree-wrapper {
  flex: 0 0 20% !important;
  max-width: 20% !important;
}
.filetree-sidebar {
  width: 100% !important;
}
.callout-content {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}
.callout {
  background-color: rgba(var(--callout-color), 0.1) !important;
}
