@import "https://cdn.jsdelivr.net/npm/obsidian-things@latest/theme.css";

body {
    --dg-filetree-width: 350px !important;
    --dg-filetree-max-width: 350px !important;
    --dg-filetree-gap: 10px !important;
}
.dg-filetree {
    margin-left: -30px !important;
}
